body {
  background: linear-gradient(to right, #0577be, #ad5af6);
  /* background-color: #0577be; */
}

.container {
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.left-container,
.right-container {
  border: 1px solid #ccc; 
  border-radius: 5px; 
  padding: 20px;
  background-color: #fff;
}

.left-container {
  width: 40%;
  margin-left: 50px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); 
}

.right-container {
  width: 40%;
  margin-right: 50px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4); 
}

.left-container h1 {
  margin-bottom: 20px;
}

.left-container input[type="text"],
.left-container input[type="number"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.left-container button {
  padding: 10px 20px;
  /* background: #c20482; */
  background: #6f06b5;

  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.left-container button:hover {
  background-color: #0056b3;
}

.left-container ul {
  list-style: none;
  padding: 0;
}

.left-container li {
  margin-bottom: 10px;
}

li span {
  margin-right: 50px; 
}

h2, h1 {
  text-align: center;
}

h1 {
  color: #000;
  font-size: 35px;
}

.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; 
}

.expense-item button {
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  background: #6f06b5;
  /* background: #c20482; */

}

.expense-item button:hover {
  background-color: #0056b3;
}

h3 {
  text-align: center;
}
